.p {
 background-image: url(https://dreamybokeh.files.wordpress.com/2019/08/dsc08835.jpg?w=640);

}

.writer-img {
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  float: left;
  width: 50px;
}

.content {
  padding: 40px;
}

h1{
font-weight: bold;
font-family: "Spy Agency";
margin-left: 556px;
width:30%;

}

#formplace{
  float:right;
  display: inline-block;
  /*margin-right: 1px; /*-122px - move to the right to stick against the signup button* without sign up script*/
}

#formplace1{
  float:right;
  display: inline-block;
    /* margin-right: 0px; move to the left, essentially moving the login form too. 136px is aligned with carosel picture. works now on the right*/
}

h2{
font-style: italic;
font-family: "Times New Roman";
}

h3{
font-family: "Times New Roman";

}

p{
  font-family: "Times New Roman";
}

.titles{
 font-weight: bold;

}

/*
.cc{
  border-style: solid;
}
*/

.carousel-caption{
  font-weight: bold;
//color: Black;
 background-color: black;
 padding: 1px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#demo {
  /*transition: margin-left .1s; */
  /*marginLeft: "250px";*/
  margin-left: 206px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*
.carousel-inner img {
  //margin: 0 auto;
  margin-right: 150px;

}

.carousel-item img {
 //margin: 0 auto;
 margin-right: 150px;
   
}

.carousel {
  //margin: 0 auto;
  margin-right: 150px;
}
*/

/*Working Sign Up CSS*/

/* Full-width input fields */
input[type=text], input[type=password] {
 
  display: inline-block;

}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


button:hover {
  opacity:.5;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.signupbtn {
  padding: 14px 20px;
  background-color: #008000;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

